# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Virtualenv
venv/
env/
ENV/
*.egg-info/
.eggs/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
**/migrations/0001_initial.py

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/